<% layout('/layouts/boilerPlate.ejs') -%>
<body>
    

 

<div class="raw card-img mb-5">



    <h1><%=listing.title%></h1>
    <img src="<%=listing.image.url%>" class="card-img-top show-img mb-3" alt="...">
  
        <h5 class=""><%= listing.location%>, <%= listing.country%></h5>
    
    
    
    <ul>
        <li><div id="title"><%= listing.title%></div></li>
        <li><div><%= listing.description%></div></li>
        <li> <div>&#8377;<%= listing.price.toLocaleString('en-IN')%></div></li>
        <div></div>
       <li> <div><%= listing.country%></div></li>
    </ul>


  
</div>
<div class="button btns raw offset-3">
    <form method="get" action="/listings/<%= listing._id%>/edit">
        <button class="btn btn-primary brand-color" >Edit Listing</button>
    </form>

    
    <form method="post" action="/listings/<%= listing._id%>?_method=DELETE">
        <button class="btn btn-dark " style="margin-left: 2rem;">Delete Listing</button>
    </form>
</div>


<hr>



<!-- // Review section -->




        <div class="col-8 offset-3">
            <h2>Leave a Review: </h2>
            <form action="/listings/<%= listing._id%>/review" method="post"  class="mt-10 mb-5">
                <div id="rating" class="mt-5 mb-2">
                    <label class="form-label " for="rating"> <b>Rate Us out 1 of 5</b></label>
                    <input class="form-control" style="width: 30rem;" type="range" id="rating" min="1" max="5" name="review[rating]">
                    
                </div>
                <label for="comment"> Comment Your Suggestions/Feedback:-</label>
                <br>
                <textarea   class="form-control" name="review[comment]" id="comment" cols="50" rows="5"></textarea><br>
                <button class="btn btn-outline-dark mt-1 ">Submit</button>
            </form>
        </div>

<hr>

    <% if(listing.review.length >0){%>
        <h1 style="margin-left: 10rem;">Reviews about this Property:</h1>
    <%}else{%>
        <h1 style="margin-left: 10rem;">This is new Property, Not Review Yet</h1>
    <%}%>


    <div id="reviews-row" >
        <%for(review of listing.review ){%>
     
        
            <div class="card card-review" >
                <h5 class="card-title mt-2"><i class="fa-solid fa-circle-user fa-2xl  "style="margin: 15px 10px 10px 10px;"></i>  <p class="mt-1" style="font-size:larger;">Akash Dubey</p> 

                    <form method="post" action="/listings/<%=listing._id%>/review/<%=review._id%>?_method=DELETE"> 
                        <button  class="delete-review" style="margin:-7px 0px 0px 60px;  font-size: xx-large; border: none; background-color: white; ">... <p class="delete btn">Delete</p></button>
                    </form>
                </h5>
            
                <h6 class="card-subtitle mt-2">
                    <b></i> <%=review.rating%> Star</b> &nbsp;
                    
                    <%for(let star =1; star<=review.rating; star++){%>
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <%}%>
                </h6>

                <p style="color: gray;">Date:<%=review.created_at.getDate()%>/<%=review.created_at.getMonth()%>/<%=review.created_at.getFullYear()%></p>
                <p class="card-text"><%=review.comment%></p>
                
            </div>
            
        <%}%>
    </div>
       
        <hr>
        
</body>
    